<!doctype html>
<html lang="en">
    {{template "style"}}
    {{template "script"}}
    
    {{ template "header"}}

    <body style="text-align: center;">

        <h1><u>ClassBoard Dashboard</u></h1>
        <div id="responseMessage"></div><br/>

        {{if .Classroom}}
        
        <table>
            <tr>
                <td colspan="4">Classroom List</td>
            </tr>
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Title</th>
                <th colspan="2">Action</th>
            </tr>
            {{range $key, $val := .Classroom}}
            <tr>
                <td>{{$val.Id}}</td>
                <td>{{$val.Code}}</td>
                <td>{{$val.Title}}</td>
                <td>&nbsp;<a href="/classroom/{{$val.Id}}/question"><i>Questions</i></a>&nbsp;</td>
                {{if eq $.User.Type "lecturer"}}
                <td>&nbsp;<a href="/courses" onclick="deleteClassroom(event,{{$val.Id}})"><i>Delete</i></a>&nbsp;</td>
                {{end}}
                
            </tr>
            {{end}}
            <tr>
                {{if eq .User.Type "lecturer"}}
                <td colspan="5">+<a href="/classroom/add"><i>Add new classroom</i></a></td>
                {{else if eq .User.Type "student" }}
                <td colspan="5">+<a href="/classroom/join"><i> Join new classroom</i></a></td>
                {{end}}
            </tr>
        </table>
        {{else}}
        <h4>There is no classroom here! Please <a href="/classroom/add">add a classroom</a> first!</h4>
        {{end}}

        {{template "bottom_nav"}}
    </body>
</html>