<!doctype html>
<html lang="en">
    {{ template "script"}}
    <script>
        function editClassroom(event) {
            var classroom = {
                code: $("#code").val(),
                title: $("#title").val(),
            }

            if (classroom.code.trim() == "" || classroom.title.trim() == "") {
                $('#responseMessage').html("<b style='color:red'>Sorry the classroom info is incomplete</b>");
                return
            }
            $('#responseMessage').html("");

            event.preventDefault();
            $.ajax({
                url: 'https://localhost:8080/api/v1/classroom/{{.Id}}',
                type: 'put',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(classroom),
                success: function (response) {
                    $('#responseMessage').html("<b style='color:green'>"+response.ResponseText+" Will redirect back to dashboard...</b>");
                    $("#classroom_edit input").prop("disabled", true);
                    function pageRedirect() {
                        window.location.replace("/");
                    } 
                    setTimeout(pageRedirect, 2000);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#responseMessage').html("<b style='color:red'>"+XMLHttpRequest.responseJSON.ResponseText+"</b>");
                },
            });
        }
    </script>
    {{ template "header"}}

    <body style="text-align: center;">

        <h1><u>Edit Classroom</u></h1>
        <div id="responseMessage"></div><br/>

        <form id="classroom_edit" method="post">
            <label for ="code">Classroom Code:</label><br>
            <input type="text" id="code" name="code" placeholder="code" value="{{.Code}}" required><br><br>
            <label for ="title">Classroom Title:</label><br>
            <input type="text" id="title" name="title" placeholder="title" value="{{.Title}}" required><br><br>
            <input type="submit" value="Edit Classroom!" onclick="editClassroom(event)">
        </form>
        {{template "bottom_nav"}}
    </body>
</html>