<!doctype html>
<html lang="en">
    {{ template "script"}}
    <script>
        function joinClassroom(event) {
            if ($("#classroom_id").val().trim() == "" ){
                $('#responseMessage').html("<b style='color:red'>Sorry the classroom id is incomplete</b>");
                return
            }
            $('#responseMessage').html("");

            event.preventDefault();
            $.ajax({
                url: 'https://localhost:8080/api/v1/user_class/'+ $("#classroom_id").val(),
                type: 'post',
                success: function (response) {
                    $('#responseMessage').html("<b style='color:green'>"+response.ResponseText+" Will redirect back to dashboard...</b>");
                    $("#classroom_join input").prop("disabled", true);
                    function pageRedirect() {
                        window.location.replace("/");
                    } 
                    setTimeout(pageRedirect, 2000);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#responseMessage').html("<b style='color:red'>"+XMLHttpRequest.responseJSON.ResponseText+"</b>");
                },
            });
        }
    </script>
    {{ template "header"}}

    <body style="text-align: center;">

        <h1><u>Join Classroom</u></h1>
        <div id="responseMessage"></div><br/>

        <form id="classroom_join" method="post">
            <label for ="classroom_id">Classroom Id:</label><br>
            <input type="text" id="classroom_id" name="classroom_id" size="35" placeholder="Insert classroom ID here" required><br><br>
            <input type="submit" value="Join Classroom!" onclick="joinClassroom(event)">
        </form>
        {{template "bottom_nav"}}
    </body>
</html>