<!doctype html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script>

        {{/* function logout(event) {
            var userLogin = {
                username: $("#username").val(),
                password: $("#password").val(),
            }
            $('#responseMessage').html("");

            event.preventDefault();
            $.ajax({
                url: 'login',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(userLogin),
                success: function (response) {
                    setTimeout(pageRedirect, 3000);
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#responseMessage').html("<b style='color:red'>"+XMLHttpRequest.responseJSON.ResponseText+"</b>");
                },
            });
        } */}}

        
    </script>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to the ClassBoard</title>
    </head>

    <body style="text-align: center;">

        <h1><u>ClassBoard Dashboard</u></h1>

        Class List 
        add classroom button





        {{template "bottom_nav"}}
    </body>
</html>