<!doctype html>
<html lang="en">
    {{template "style"}}
    {{template "script"}}
    <script>
        function deleteCourse(event,id) {
            event.preventDefault();
            $('#responseMessage').html("");

            $.ajax({
                url: 'api/v1/classroom/'+id,
                type: 'delete',
                success: function (response) {
                    if (response != undefined) {
                        $('#responseMessage').html("<b style='color:green'>"+response.ResponseText+"</b>");
                    }
                    location.reload()
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#responseMessage').html("<b style='color:red'>"+XMLHttpRequest.responseJSON.ResponseText+"</b>");
                },
            });
        }
    </script>
    
    {{template "header"}}

    <body style="text-align: center;">

        <h1><u>ClassBoard Dashboard</u></h1>
        {{template "user_bar" .}}
        <div id="responseMessage"></div><br/>

        {{if .Classroom}}
        
        <table>
            <tr>
                <td colspan="6">Classroom List</td>
            </tr>
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Title</th>
                <th colspan="3">Action</th>
            </tr>
            {{range $key, $val := .Classroom}}
            <tr>
                <td>{{$val.Id}}</td>
                <td>{{$val.Code}}</td>
                <td>{{$val.Title}}</td>
                <td>&nbsp;<a href="/classroom/{{$val.Id}}/question"><i>Questions</i></a>&nbsp;</td>
                {{if eq $.User.Type "lecturer"}}
                <td>&nbsp;<a href="/classroom/{{$val.Id}}/edit"><i>Edit</i></a>&nbsp;</td>
                <td>&nbsp;<a href="/classroom/{{$val.Id}}/summary"><i>Summary</i></a>&nbsp;</td>
                {{end}}
                
            </tr>
            {{end}}
            <tr>
                {{if eq .User.Type "lecturer"}}
                <td colspan="6">+<a href="/classroom/add"><i>Add new classroom</i></a></td>
                {{else if eq .User.Type "student" }}
                <td colspan="6">+<a href="/classroom/join"><i> Join new classroom</i></a></td>
                {{end}}
            </tr>
        </table>
        {{else}}
        {{if eq .User.Type "lecturer"}}
        <h4>There is no classroom here! Please <a href="/classroom/add">add a classroom</a> first!</h4>
        {{else if eq .User.Type "student" }}
        <h4>There is no classroom here! Please <a href="/classroom/join">join a classroom</a> first!</h4>
        {{end}}
        
        {{end}}

        {{template "bottom_nav"}}
    </body>
</html>