<!doctype html>
<html lang="en">
    {{template "style"}}
    {{template "script"}}
    <script>
        function deleteQuestion(event,id) {
            event.preventDefault();
            $('#responseMessage').html("");

            $.ajax({
                url: 'https://localhost:8080/api/v1/{{.Classroom.Id}}/question/'+id,
                type: 'delete',
                success: function (response) {
                    if (response != undefined) {
                        $('#responseMessage').html("<b style='color:green'>"+response.ResponseText+"</b>");
                    }
                    location.reload()
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#responseMessage').html("<b style='color:red'>"+XMLHttpRequest.responseJSON.ResponseText+"</b>");
                },
            });
        }
    </script>
    {{ template "header"}}

    <body style="text-align: center;">

        <h1><u>ClassBoard Question List</u></h1>
        <div id="responseMessage"></div><br/>

        {{if .Questions}}
        <table>
            <tr>
                <td colspan="4"><b>{{.Classroom.Code}}</b> Question List</td>
            </tr>
            <tr>
                <th>No.</th>
                <th>Question</th>
                <th colspan="2">Action</th>
            </tr>
            {{range $key, $val := .Questions}}
            <tr>
            
                <td>{{inc $key 1}}</td>
                <td>{{$val.Question}}</td>
                <td>&nbsp;<a href="/classroom/{{$.Classroom.Id}}/question/{{$val.Id}}"><i>Detail</i></a>&nbsp;</td>
                <td>&nbsp;<a href="#" onclick="deleteQuestion(event,{{$val.Id}})"><i>Delete</i></a>&nbsp;</td>
            </tr>
            {{end}}
            <tr>
                <td colspan="4">+<a href="question/add"><i>Add new question</i></a></td>
            </tr>
        </table>
        {{else}}
        <h4>There is no question here! Please <a href="question/add">add a question</a> first!</h4>
        {{end}}

        {{template "bottom_nav"}}
    </body>
</html>