<!doctype html>
<html lang="en">
    {{template "style"}}
    {{template "script"}}
    <script>
        function getQuestion(event,id) {
            event.preventDefault();
            $('#responseMessage').html("");

            $.ajax({
                url: 'api/v1/classroom/'+id,
                type: 'delete',
                success: function (response) {
                    if (response != undefined) {
                        $('#responseMessage').html("<b style='color:green'>"+response.ResponseText+"</b>");
                    }
                    location.reload()
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#responseMessage').html("<b style='color:red'>"+XMLHttpRequest.responseJSON.ResponseText+"</b>");
                },
            });
        }
    </script>
    
    {{ template "header"}}

    <body style="text-align: center;">

        <h1><u>ClassBoard Question List</u></h1>
        <div id="responseMessage"></div><br/>

        {{if .Questions}}
        <table>
            <tr>
                <td colspan="4"><b>{{.Classroom.Code}}</b> Question List</td>
            </tr>
            <tr>
                <th>No.</th>
                <th>Question</th>
                <th>Action</th>
                <th>Status</th>
            </tr>
            {{range $key, $val := .Questions}}
            <tr>
                <td>{{inc $key 1}}</td>
                <td>{{$val.Question}}</td>
                <td>&nbsp;<a href="/classroom/{{$.Classroom.Id}}/question/{{$val.Id}}"><i>Detail</i></a>&nbsp;</td>
                <td>
                    {{$answerStatus := index $.Answers $val.Id}}
                    {{if eq $answerStatus 1}}
                    <b style='color:green'>&#10004</b>
                    {{else if eq $answerStatus -1}}
                    <b style='color:red'>&#10006</b>
                    {{else if eq $answerStatus 0}}
                    <b style='color:blue'>?</b>
                    {{end}}
                </td>
            </tr>
            {{end}}
        </table>
        {{else}}
        <h4>Currently there is no question in this classroom!</h4>
        {{end}}

        {{template "bottom_nav"}}
    </body>
</html>