<!doctype html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
    <script>
        function deleteCourse(event,id) {
            event.preventDefault();
            $('#responseMessage').html("");

            $.ajax({
                url: 'api/v1/classroom/'+id,
                type: 'delete',
                success: function (response) {
                    if (response != undefined) {
                        $('#responseMessage').html("<b style='color:green'>"+response.ResponseText+"</b>");
                    }
                    location.reload()
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $('#responseMessage').html("<b style='color:red'>"+XMLHttpRequest.responseJSON.ResponseText+"</b>");
                },
            });
        }
    </script>
    <head>
        <meta charset="UTF-8">
        <title>Welcome to the ClassBoard</title>
    </head>

    <body style="text-align: center;">

        <h1><u>ClassBoard Dashboard</u></h1>
        <div id="responseMessage"></div><br/>

        {{if .}}
        <a href="/add"><i>Add new question</i></a>
        <table style="margin-left:auto;margin-right:auto">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th></th>
                <th></th>

            </tr>
            {{range $key, $val := .}}
            <tr>
                <td>{{$val.Id}}</td>
                <td>{{$val.Title}}</td>
                <td>&nbsp;<a href="/classroom/{{$val.Id}}/question"><i>Questions</i></a>&nbsp;</td>
                <td>&nbsp;<a href="/classroom/{{$val.Id}}/question" onclick="deleteClassroom(event,{{$val.Id}})"><i>Delete</i></a>&nbsp;</td>
            </tr>
            {{end}}
        </table>
        {{else}}
        <h4>There is no question here! Please <a href="question/add" target="_self">add a question</a> first!</h4>
        {{end}}

        {{template "bottom_nav"}}
    </body>
</html>