{{define "style"}}
<style>
    table, th, td {
        border: 1.5px solid gray;
        border-collapse: collapse;
        padding: 5px;
    }
    table {
        margin-left: auto; 
        margin-right: auto;
    }
</style>
{{end}}